<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML5サンプル</title>
</head>
<body>
<%= image_tag 'signintopformhd-wallimg.png', class:'bp1-wallimg' %>
<div class="Title">
<%= image_tag 'kloss_logo.png' , class: 'logo' %>
</div>
</body>
</html>