body{
    background: linear-gradient(225deg, rgb(248, 113, 165),rgb(255, 0, 119));
    width: 100%;
    height:9999px;
}
.Title{
    text-align: center;
    margin-top: 25px;
    height: 120px;
    position: fixed;
}
.bp1-wallimg {
    background-color    : rgba(255,255,255,0.0);
    position            : absolute;
    top                 : 0px;
    left                : 0px;
    margin              : 0;
    width               : 100%;
    transform           : rotate(0deg);
    opacity             : 1.0;
  }